.profil {
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-position: center;
}

.jumbotron {
    background-image: url("../vendor/img/chess.jpg");
    background-size: cover;
    height: 450px;
}